version: 2.1

jobs:
  lint:
    docker:
      - image: cimg/python:3.12
    steps:
      - checkout
      - run:
          name: Install linters
          command: pip install ruff mypy
      - run:
          name: Install dependencies
          command: pip install .[test,extra]
      - run:
          name: mypy
          command: mypy yledl tests
      - run:
          name: ruff check
          command: ruff check

  test:
    parameters:
        pyversion:
            type: string
    docker:
      - image: cimg/python:<< parameters.pyversion >>
    steps:
      - checkout
      - run:
          name: Install ffmpeg
          command: |
            sudo apt update
            sudo apt install -y ffmpeg
      - run:
          name: Install dependencies
          command: |
            pip install --upgrade pip
            pip install .[test]
      - run:
          name: Unit and integration tests
          command: |
            mkdir -p test-results
            pytest tests --junit-xml=test-results/report.xml
      - store_test_results:
          path: test-results
      - run:
          name: Smoke test
          command: yle-dl --help

workflows:
  main:
    jobs:
      - lint
      - test:
          requires:
            - lint
          matrix:
              parameters:
                  pyversion: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12"]
